body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

button:focus {
    outline: none;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 0 20px;
    max-width: 800px;
}

.player {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.player:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: currentColor;
    height: 2px;
    transition: all 0.2s ease;
}

.player.active:after {
    left: 0;
    right: 0;
}

.player-1 {
    color: #30556b;
}

.player-1.active {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.player-2 {
    color: #a63a27;
}

.player-2.active {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.score {
    font-size: 45px;
}

#field {
    margin: 30px auto;
    width: 300px;
    overflow: hidden;
    position: relative;
}

#field button {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid #3e5a17;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: background 0.2s ease;
    position: relative;
    transition: all 0.2s ease;
}

#field button:nth-child(3n + 1) {
    border-left: 0;
}

#field button:nth-child(-n + 3) {
    border-top: 0;
}

#field button:nth-child(3n + 3) {
    border-right: 0;
}

#field button:nth-last-child(-n + 3){
    border-bottom: 0;
}

#field button[data-value] {
    cursor: default;
    box-shadow: none;
}

#field button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#field button[data-value='0']::after {
    content: 'O';
    color: #30556b;
}

#field button[data-value='1']::after {
    content: 'X';
    color: #a63a27;
}

#field[data-disabled] {
    opacity: 0.6;
}

#field[data-disabled]::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#message {
    flex: 1 1 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0 0;
}

.buttons-set {
    text-align: center;
}

.buttons-set .btn {
    margin: 0 10px;
}

.btn {
    padding: 7px 14px;
    display: inline-block;
    vertical-align: middle;
    background: #3e5a17;
    border: 1px solid #5b8224;
    box-shadow: 2px 2px 3px 1px #3e5a17;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: 2px 2px 6px 2px #3e5a17;
}